.venv
.env
env

# Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Backup files
*.bak

# Virtual Environment
.env
venv/
env/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Python distribution files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv specific files
.python-version

# Celery beat schedule files
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Other common ignores (if applicable)
*.swp  # Swap files from vim editor